[submodule "bootloaders/caterina"]
	path = bootloaders/caterina
	url = https://github.com/keyboardio/Model01Bootloader
[submodule "libraries"]
	path = libraries
	url = https://github.com/keyboardio/keyboardio-libraries
