[submodule "bootloaders/caterina"]
	path = bootloaders/caterina
	url = https://github.com/keyboardio/Model01Bootloader
[submodule "libraries/KeyboardioScanner"]
	path = libraries/KeyboardioScanner
	url = https://github.com/keyboardio/KeyboardioScanner
[submodule "libraries/KeyboardioHID"]
	path = libraries/KeyboardioHID
	url = https://github.com/keyboardio/KeyboardioHID
[submodule "libraries/FingerprintUSBHost"]
	path = libraries/FingerprintUSBHost
	url = https://github.com/keyboardio/FingerprintUSBHost
[submodule "libraries/Akela-Colormap"]
	path = libraries/Akela-Colormap
	url = https://github.com/keyboardio/Akela-Colormap
[submodule "libraries/Akela-Core"]
	path = libraries/Akela-Core
	url = https://github.com/keyboardio/Akela-Core
[submodule "libraries/Akela-Cycle"]
	path = libraries/Akela-Cycle
	url = https://github.com/keyboardio/Akela-Cycle
[submodule "libraries/Akela-DualUse"]
	path = libraries/Akela-DualUse
	url = https://github.com/keyboardio/Akela-DualUse
[submodule "libraries/Akela-Heatmap"]
	path = libraries/Akela-Heatmap
	url = https://github.com/keyboardio/Akela-Heatmap
[submodule "libraries/Akela-HostOS"]
	path = libraries/Akela-HostOS
	url = https://github.com/keyboardio/Akela-HostOS
[submodule "libraries/Akela-IgnoranceIsBliss"]
	path = libraries/Akela-IgnoranceIsBliss
	url = https://github.com/keyboardio/Akela-IgnoranceIsBliss
[submodule "libraries/Akela-KeyLogger"]
	path = libraries/Akela-KeyLogger
	url = https://github.com/keyboardio/Akela-KeyLogger
[submodule "libraries/Akela-Leader"]
	path = libraries/Akela-Leader
	url = https://github.com/keyboardio/Akela-Leader
[submodule "libraries/Akela-LEDEffects"]
	path = libraries/Akela-LEDEffects
	url = https://github.com/keyboardio/Akela-LEDEffects
[submodule "libraries/Akela-MagicCombo"]
	path = libraries/Akela-MagicCombo
	url = https://github.com/keyboardio/Akela-MagicCombo
[submodule "libraries/Akela-OneShot"]
	path = libraries/Akela-OneShot
	url = https://github.com/keyboardio/Akela-OneShot
[submodule "libraries/Akela-ShapeShifter"]
	path = libraries/Akela-ShapeShifter
	url = https://github.com/keyboardio/Akela-ShapeShifter
[submodule "libraries/Akela-SpaceCadet"]
	path = libraries/Akela-SpaceCadet
	url = https://github.com/keyboardio/Akela-SpaceCadet
[submodule "libraries/Akela-TapDance"]
	path = libraries/Akela-TapDance
	url = https://github.com/keyboardio/Akela-TapDance
[submodule "libraries/Akela-TopsyTurvy"]
	path = libraries/Akela-TopsyTurvy
	url = https://github.com/keyboardio/Akela-TopsyTurvy
[submodule "libraries/Akela-Unicode"]
	path = libraries/Akela-Unicode
	url = https://github.com/keyboardio/Akela-Unicode
[submodule "libraries/Akela-LED-Stalker"]
	path = libraries/Akela-LED-Stalker
	url = https://github.com/keyboardio/Akela-LED-Stalker
[submodule "libraries/Akela-LED-ActiveModColor"]
	path = libraries/Akela-LED-ActiveModColor
	url = https://github.com/keyboardio/Akela-LED-ActiveModColor
[submodule "libraries/Akela-Escape-OneShot"]
	path = libraries/Akela-Escape-OneShot
	url = https://github.com/keyboardio/Akela-Escape-OneShot
[submodule "libraries/Arduino-HID"]
	path = libraries/Arduino-HID
	url = https://github.com/keyboardio/Arduino-HID
[submodule "KeyboardioScanner"]
	path = libraries/KeyboardioScanner
	url = https://github.com/keyboardio/KeyboardioScanner
[submodule "KeyboardioHID"]
	path = libraries/KeyboardioHID
	url = https://github.com/keyboardio/KeyboardioHID
[submodule "FingerprintUSBHost"]
	path = libraries/FingerprintUSBHost
	url = https://github.com/keyboardio/FingerprintUSBHost
[submodule "Akela-Colormap"]
	path = libraries/Akela-Colormap
	url = https://github.com/keyboardio/Akela-Colormap
[submodule "Akela-Core"]
	path = libraries/Akela-Core
	url = https://github.com/keyboardio/Akela-Core
[submodule "Akela-Cycle"]
	path = libraries/Akela-Cycle
	url = https://github.com/keyboardio/Akela-Cycle
[submodule "Akela-DualUse"]
	path = libraries/Akela-DualUse
	url = https://github.com/keyboardio/Akela-DualUse
[submodule "Akela-Heatmap"]
	path = libraries/Akela-Heatmap
	url = https://github.com/keyboardio/Akela-Heatmap
[submodule "Akela-HostOS"]
	path = libraries/Akela-HostOS
	url = https://github.com/keyboardio/Akela-HostOS
[submodule "Akela-IgnoranceIsBliss"]
	path = libraries/Akela-IgnoranceIsBliss
	url = https://github.com/keyboardio/Akela-IgnoranceIsBliss
[submodule "Akela-KeyLogger"]
	path = libraries/Akela-KeyLogger
	url = https://github.com/keyboardio/Akela-KeyLogger
[submodule "Akela-Leader"]
	path = libraries/Akela-Leader
	url = https://github.com/keyboardio/Akela-Leader
[submodule "Akela-LEDEffects"]
	path = libraries/Akela-LEDEffects
	url = https://github.com/keyboardio/Akela-LEDEffects
[submodule "Akela-MagicCombo"]
	path = libraries/Akela-MagicCombo
	url = https://github.com/keyboardio/Akela-MagicCombo
[submodule "Akela-OneShot"]
	path = libraries/Akela-OneShot
	url = https://github.com/keyboardio/Akela-OneShot
[submodule "Akela-ShapeShifter"]
	path = libraries/Akela-ShapeShifter
	url = https://github.com/keyboardio/Akela-ShapeShifter
[submodule "Akela-SpaceCadet"]
	path = libraries/Akela-SpaceCadet
	url = https://github.com/keyboardio/Akela-SpaceCadet
[submodule "Akela-TapDance"]
	path = libraries/Akela-TapDance
	url = https://github.com/keyboardio/Akela-TapDance
[submodule "Akela-TopsyTurvy"]
	path = libraries/Akela-TopsyTurvy
	url = https://github.com/keyboardio/Akela-TopsyTurvy
[submodule "Akela-Unicode"]
	path = libraries/Akela-Unicode
	url = https://github.com/keyboardio/Akela-Unicode
[submodule "Akela-LED-Stalker"]
	path = libraries/Akela-LED-Stalker
	url = https://github.com/keyboardio/Akela-LED-Stalker
[submodule "Akela-LED-ActiveModColor"]
	path = libraries/Akela-LED-ActiveModColor
	url = https://github.com/keyboardio/Akela-LED-ActiveModColor
[submodule "Akela-Escape-OneShot"]
	path = libraries/Akela-Escape-OneShot
	url = https://github.com/keyboardio/Akela-Escape-OneShot
[submodule "Arduino-HID"]
	path = libraries/Arduino-HID
	url = https://github.com/keyboardio/Arduino-HID
[submodule "Akela-GhostInTheFirmware"]
	path = libraries/Akela-GhostInTheFirmware
	url = https://github.com/keyboardio/Akela-GhostInTheFirmware
[submodule "Keyboardio-Macros"]
	path = libraries/Keyboardio-Macros
	url = https://github.com/keyboardio/Keyboardio-Macros
[submodule "Keyboardio-MouseKeys"]
	path = libraries/Keyboardio-MouseKeys
	url = https://github.com/keyboardio/Keyboardio-MouseKeys
[submodule "Keyboardio-LEDControl"]
	path = libraries/Keyboardio-LEDControl
	url = https://github.com/keyboardio/Keyboardio-LEDControl
[submodule "Keyboardio-LEDEffect-Breathe"]
	path = libraries/Keyboardio-LEDEffect-Breathe
	url = https://github.com/keyboardio/Keyboardio-LEDEffect-Breathe
[submodule "Keyboardio-LEDEffect-Chase"]
	path = libraries/Keyboardio-LEDEffect-Chase
	url = https://github.com/keyboardio/Keyboardio-LEDEffect-Chase
[submodule "Keyboardio-LEDEffect-Rainbow"]
	path = libraries/Keyboardio-LEDEffect-Rainbow
	url = https://github.com/keyboardio/Keyboardio-LEDEffect-Rainbow
[submodule "Keyboardio-LEDEffect-SolidColor"]
	path = libraries/Keyboardio-LEDEffect-SolidColor
	url = https://github.com/keyboardio/Keyboardio-LEDEffect-SolidColor
[submodule "Keyboardio-Numlock"]
	path = libraries/Keyboardio-Numlock
	url = https://github.com/keyboardio/Keyboardio-Numlock
[submodule "Akela-Syster"]
	path = libraries/Akela-Syster
	url = https://github.com/keyboardio/Akela-Syster
[submodule "Keyboardio-Hardware-Model01"]
	path = libraries/Keyboardio-Hardware-Model01
	url = https://github.com/keyboardio/Keyboardio-Hardware-Model01
[submodule "Keyboardio-Model01-TestMode"]
	path = libraries/Keyboardio-Model01-TestMode
	url = https://github.com/keyboardio/Keyboardio-Model01-TestMode
[submodule "libraries/Akela-GhostInTheFirmware"]
	path = libraries/Akela-GhostInTheFirmware
	url = https://github.com/keyboardio/Akela-GhostInTheFirmware
[submodule "libraries/Akela-Syster"]
	path = libraries/Akela-Syster
	url = https://github.com/keyboardio/Akela-Syster
[submodule "libraries/Keyboardio-Hardware-Model01"]
	path = libraries/Keyboardio-Hardware-Model01
	url = https://github.com/keyboardio/Keyboardio-Hardware-Model01
[submodule "libraries/Keyboardio-LEDControl"]
	path = libraries/Keyboardio-LEDControl
	url = https://github.com/keyboardio/Keyboardio-LEDControl
[submodule "libraries/Keyboardio-LEDEffect-Breathe"]
	path = libraries/Keyboardio-LEDEffect-Breathe
	url = https://github.com/keyboardio/Keyboardio-LEDEffect-Breathe
[submodule "libraries/Keyboardio-LEDEffect-Chase"]
	path = libraries/Keyboardio-LEDEffect-Chase
	url = https://github.com/keyboardio/Keyboardio-LEDEffect-Chase
[submodule "libraries/Keyboardio-LEDEffect-Rainbow"]
	path = libraries/Keyboardio-LEDEffect-Rainbow
	url = https://github.com/keyboardio/Keyboardio-LEDEffect-Rainbow
[submodule "libraries/Keyboardio-LEDEffect-SolidColor"]
	path = libraries/Keyboardio-LEDEffect-SolidColor
	url = https://github.com/keyboardio/Keyboardio-LEDEffect-SolidColor
[submodule "libraries/Keyboardio-Macros"]
	path = libraries/Keyboardio-Macros
	url = https://github.com/keyboardio/Keyboardio-Macros
[submodule "libraries/Keyboardio-Model01-TestMode"]
	path = libraries/Keyboardio-Model01-TestMode
	url = https://github.com/keyboardio/Keyboardio-Model01-TestMode
[submodule "libraries/Keyboardio-MouseKeys"]
	path = libraries/Keyboardio-MouseKeys
	url = https://github.com/keyboardio/Keyboardio-MouseKeys
[submodule "libraries/Keyboardio-Numlock"]
	path = libraries/Keyboardio-Numlock
	url = https://github.com/keyboardio/Keyboardio-Numlock
[submodule "libraries/Model01Bootloader"]
	path = libraries/Model01Bootloader
	url = https://github.com/keyboardio/Model01Bootloader
